@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';

.App {
  text-align: center;
}


body {
  background-color: #313938;
  font-family: "Lato", sans-serif;
}

nav {
  background-color: #2E3030;
}

span {
  color: #30e89e
}

.card {
  background-color: #2E3030;
}